<a href="https://colab.research.google.com/github/Ominousapp/ACMPROJECT/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [31]:
#import dataset
stock=pd.read_csv('NFLX.csv')

In [32]:
stock.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [5]:
stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
5039,2022-05-27,193.190002,195.250000,190.369995,195.190002,195.190002,8586000
5040,2022-05-31,196.179993,199.949997,190.800003,197.440002,197.440002,11398500
5041,2022-06-01,198.699997,202.740005,191.660004,192.910004,192.910004,8416200
5042,2022-06-02,192.020004,205.470001,191.720001,205.089996,205.089996,9623100
5043,2022-06-03,200.139999,202.949997,198.050003,198.979996,198.979996,7181700

In [6]:
stock.shape

(5044, 7)

In [7]:
stock.info

<bound method DataFrame.info of             Date        Open        High         Low       Close   Adj Close  \
0     2002-05-23    1.156429    1.242857    1.145714    1.196429    1.196429
1     2002-05-24    1.214286    1.225000    1.197143    1.210000    1.210000
2     2002-05-28    1.213571    1.232143    1.157143    1.157143    1.157143
3     2002-05-29    1.164286    1.164286    1.085714    1.103571    1.103571
4     2002-05-30    1.107857    1.107857    1.071429    1.071429    1.071429
...          ...         ...         ...         ...         ...         ...
5039  2022-05-27  193.190002  195.250000  190.369995  195.190002  195.190002
5040  2022-05-31  196.179993  199.949997  190.800003  197.440002  197.440002
5041  2022-06-01  198.699997  202.740005  191.660004  192.910004  192.910004
5042  2022-06-02  192.020004  205.470001  191.720001  205.089996  205.089996
5043  2022-06-03  200.139999  202.949997  198.050003  198.979996  198.979996

         Volume
0     104790000
1      11104800
2       6609400
3       6757800
4      10154200
...         ...
5039    8586000
5040   11398500
5041    8416200
5042    9623100
5043    7181700

[5044 rows x 7 columns]>

In [8]:
stock.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [9]:
stock.describe()

,Open,High,Low,Close,Adj Close,Volume
count,5044.000000,5044.000000,5044.000000,5044.000000,5044.000000,5.044000e+03
mean,116.467981,118.237392,114.578719,116.456338,116.456338,1.653068e+07
std,168.740876,171.140864,166.119837,168.668232,168.668232,1.924487e+07
min,0.377857,0.410714,0.346429,0.372857,0.372857,2.856000e+05
25%,3.955357,4.031072,3.885357,3.958571,3.958571,6.168225e+06
50%,25.819285,26.342143,25.455000,25.802856,25.802856,1.059135e+07
75%,155.762497,157.654998,153.944996,155.869999,155.869999,1.986552e+07
max,692.349976,700.989990,686.090027,691.690002,691.690002,3.234140e+08

In [10]:
correlation= stock.corr()

<ipython-input-10-b5fdc9b025ae>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation= stock.corr()

In [11]:
print(correlation['Close'])

Open         0.999695
High         0.999861
Low          0.999856
Close        1.000000
Adj Close    1.000000
Volume      -0.262548
Name: Close, dtype: float64

In [13]:
#Data preprocessing(remove unnecessary data and check for missing values)
stock=stock[['Date', 'Close']]
stock=stock.dropna()

In [14]:
#convert the date column to a datetime object
stock['Date']=pd.to_datetime(stock['Date'])

In [19]:
#split data into training and test sets
train_data, test_data=train_test_split(stock, test_size=0.2,shuffle=False)

In [22]:
#prepare training data
x_train=np.array(range(len(train_data)))
y_train=np.array(train_data['Close'])

In [23]:
#train linear  regression model
model= LinearRegression()
model.fit(x_train.reshape(-1,1),y_train)

LinearRegression()

In [26]:
#prepare test data 
x_test=np.array(range(len(train_data),len(stock)))
y_test=np.array(test_data['Close'])

In [27]:
#make predictions
y_pred=model.predict(x_test.reshape(-1,1))

In [33]:
#evaluate model using mean square error
mse= mean_squared_error(y_test,y_pred)
print("Mean squared error",mse)

Mean squared error 86280.06333016232

In [34]:
#prompt user for date
user_date=input("Enter a date (YYYY-MM-DD):")
user_date=pd.to_datetime(user_date)

Enter a date (YYYY-MM-DD):2023-04-10

In [35]:
#Use the trained model to predict the stock  price for the user date
user_date_unix_df=np.array([len(stock)+1])
predicted_price= model.predict(user_date_unix_df.reshape(-1,1))[0]

print(f"The predicted stock price for {user_date.date()} is {predicted_price:.2f}")

The predicted stock price for 2023-04-10 is 165.24