<a href="https://colab.research.google.com/github/Ominousapp/ACMPROJECT/blob/main/Copy_of_Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
#import dataset
stock=pd.read_csv('NFLX.csv')

In [5]:
stock.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [6]:
stock.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
5039,2022-05-27,193.190002,195.250000,190.369995,195.190002,195.190002,8586000
5040,2022-05-31,196.179993,199.949997,190.800003,197.440002,197.440002,11398500
5041,2022-06-01,198.699997,202.740005,191.660004,192.910004,192.910004,8416200
5042,2022-06-02,192.020004,205.470001,191.720001,205.089996,205.089996,9623100
5043,2022-06-03,200.139999,202.949997,198.050003,198.979996,198.979996,7181700

In [7]:
stock.shape

(5044, 7)

In [8]:
stock.info

<bound method DataFrame.info of             Date        Open        High         Low       Close   Adj Close  \
0     2002-05-23    1.156429    1.242857    1.145714    1.196429    1.196429
1     2002-05-24    1.214286    1.225000    1.197143    1.210000    1.210000
2     2002-05-28    1.213571    1.232143    1.157143    1.157143    1.157143
3     2002-05-29    1.164286    1.164286    1.085714    1.103571    1.103571
4     2002-05-30    1.107857    1.107857    1.071429    1.071429    1.071429
...          ...         ...         ...         ...         ...         ...
5039  2022-05-27  193.190002  195.250000  190.369995  195.190002  195.190002
5040  2022-05-31  196.179993  199.949997  190.800003  197.440002  197.440002
5041  2022-06-01  198.699997  202.740005  191.660004  192.910004  192.910004
5042  2022-06-02  192.020004  205.470001  191.720001  205.089996  205.089996
5043  2022-06-03  200.139999  202.949997  198.050003  198.979996  198.979996

         Volume
0     104790000
1      11104800
2       6609400
3       6757800
4      10154200
...         ...
5039    8586000
5040   11398500
5041    8416200
5042    9623100
5043    7181700

[5044 rows x 7 columns]>

In [9]:
#Data preprocessing(remove unnecessary data and check for missing values)
stock=stock[['Date', 'Close']]
stock=stock.dropna()

In [13]:
#convert the date column to a datetime object
stock['Date']=pd.to_datetime(stock['Date'])

In [22]:
#Train a linear regression model on the Date and Close columns 
model=LinearRegression()
X=stock[['Date']].astype(int)//10**9
y=stock['Close']
model.fit(X,y)

LinearRegression()

In [23]:
#prompt user for date
user_date=input("Enter a date (YYYY-MM-DD):")
user_date=pd.to_datetime(user_date)

Enter a date (YYYY-MM-DD):2023-04-03

In [24]:
#Convert the user date to unix timestamp format
user_date_unix=int(user_date.timestamp())

In [25]:
#Use the trained model to predict the stock  price for the user date
user_date_unix_df=pd.DataFrame({'Date':[user_date_unix]})
predicted_price= model.predict(user_date_unix_df)[0]

print(f"The predicted stock price for {user_date.date()} is {predicted_price:.2f}")

The predicted stock price for2023-04-03 is 374.48